* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f1f3f6;
}

/* HEADER */
.header {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 60px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.logo img {
    width: 120px;
}

/* SEARCH */
.search-box {
    width: 40%;
}

.search-box input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
}

/* RIGHT NAV */
.nav-right {
    display: flex;
    align-items: center;
}
.nav-right a {
    margin-left: 30px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-right i {
    font-size: 16px;}

.nav-right a:hover {
    color: #2874f0;
}

/* LOCATION */
.location {
    padding: 10px 40px;
    font-size: 14px;
    background: white;
    display: flex;
    align-items: center;
    gap: 8px;
}

.location i {
    color: #ff6161;
    font-size: 16px;
}

.location span {
    color: #2874f0;
    cursor: pointer;
    margin-left: 5px;
}

.select {
    color: #2874f0;
    cursor: pointer;
    margin-left: 5px;
}
/* BANNER */
.banner {
    display: flex;
    gap: 15px;
    padding: 20px 40px;
}

.banner img {
    width: 33%;
    border-radius: 10px;
}

/* CATEGORY ICONS */
.category-icons {
    background: white;
    margin: 30px 60px;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
}

.cat {
    text-align: center;
    cursor: pointer;
}

.cat img {
    width: 70px;
    height: 70px;
}

.cat p {
    margin-top: 10px;
    font-size: 15px;
}

.cat:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

/* PRODUCTS SECTION */
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 30px 60px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.product-card h4 {
    margin: 10px 0;
    font-size: 16px;
}

.price {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-card button {
    background: #2874f0;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background: #0d5bd3;
}