* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */
.header {
    background-color: #2874f0;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.header input {
    width: 40%;
    padding: 7px;
}

.login-btn {
    background: white;
    color: #2874f0;
    border: none;
    padding: 7px 15px;
    cursor: pointer;
}

/* CATEGORIES */
.categories {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.categories a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px;
    background-color: #f1f3f6;
}

.card {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.card img {
    width: 100%;
    height: 150px;
}

.card button {
    background-color: #2874f0;
    color: white;
    border: none;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
}

/* FOOTER */
footer {
    background-color: #172337;
    color: white;
    text-align: center;
    padding: 15px;
}
 
/* changes made just to commit*/